body {
  font-family: sans-serif;
  padding-top: 60px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #333333;
  z-index: 1000;
}

.menu ul {
  list-style-type: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu li {
  flex-grow: 1;
}

.menu a {
  display: block;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  background-color: #555555;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  margin-bottom: 10px;
  width: 100%;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}

select {
  margin-bottom: 10px;
  width: 100%;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 16px;
  cursor: pointer;
}

.eredmeny {
  margin-top: 20px;
  font-weight: bold;
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
}